header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-teal);
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  margin: 18px;
  background-color: var(--dark-teal);
  padding: 16px;
  color: white;
}
