<button>Add Record</button>
<div class="snake-page-header">
  <img src="https://i.imgur.com/99a3lLX.jpg" alt="snake icon" />
  <div>
    <p><span>Name:</span> {{ snake.name }}</p>
    <p><span>ID:</span> {{ snake.breederId }}</p>
    <p><span>Gender:</span> {{ snake.gender }}</p>
    <p><span>Last Meal:</span>{{ snake.lastMeal }}</p>
    <p><span>Next Meal:</span> {{ snake.nextMeal }}</p>
    <p><span>Meal Size:</span> {{ snake.mealSize }}</p>
    <p><span>Current Weight:</span> {{ snake.currentWeight }} grams</p>
  </div>
</div>
<div class="table-container">
  <div>
    <h2>Feeding History</h2>
    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Food-Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feeding of snake.feedings">
          <td>{{ feeding.date }}</td>
          <td>{{ feeding.item }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Shed History</h2>
    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Observation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shed of snake.sheds">
          <td>{{ shed.date }}</td>
          <td>{{ shed.item }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Weight History</h2>
    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Weight</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let weight of snake.weights">
          <td>{{ weight.date }}</td>
          <td>{{ weight.item }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Notes</h2>
    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of snake.notes">
          <td>{{ note.date }}</td>
          <td>{{ note.note }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
