<div *ngIf="snake">
  <div class="snake-page-header">
    <img src="{{ snake.imgUrl }}" alt="snake icon" />
    <div>
      <p><span>Name:</span> {{ snake.name }}</p>
      <p><span>ID:</span> {{ snake.breederId }}</p>
      <p><span>Gender:</span> {{ snake.gender }}</p>
      <p *ngIf="lastMeal"><span>Last Meal:</span>{{ lastMeal.date }}</p>
      <p *ngIf="nextMeal"><span>Meal Frequency:</span> {{ nextMeal }}</p>
      <p><span>Meal Size:</span> {{ mealSize }}</p>
      <p *ngIf="lastWeight">
        <span>Current Weight:</span> {{ lastWeight.weight }} grams
      </p>
    </div>
  </div>
  <div class="table-container">
    <div>
      <h2>Feeding History</h2>
      <table class="content-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Food-Item</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feeding of feedings">
            <td>{{ feeding.date }}</td>
            <td>{{ feeding.item }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h2>Shed History</h2>
      <table class="content-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Observation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shed of sheds">
            <td>{{ shed.date }}</td>
            <td>{{ shed.observation }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h2>Weight History</h2>
      <table class="content-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Weight</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let weight of weights">
            <td>{{ weight.date }}</td>
            <td>{{ weight.weight }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h2>Notes</h2>
      <table class="content-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let note of notes">
            <td>{{ note.date }}</td>
            <td>{{ note.note }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
