<form
  *ngIf="showAddRecord && record === 'feeding'"
  (ngSubmit)="onSubmitFeeding()"
>
  <div>
    <label for="feedingDate">Date</label>
    <input
      type="date"
      id="feedingDate"
      [(ngModel)]="feedingDate"
      name="feedingDate"
    />
  </div>
  <div>
    <label for="food">Food-Item:</label>
    <div class="custom-select">
      <select name="food" id="food" [(ngModel)]="foodItem">
        <option value="Pinky">Pinky</option>
        <option value="Small Fuzzy">Small Fuzzy</option>
        <option value="Regular Fuzzy">Regular Fuzzy</option>
        <option value="Hopper">Hopper</option>
        <option value="Weaned">Weaned</option>
        <option value="Adult">Adult</option>
        <option value="Jumbo">Jumbo</option>
      </select>
      <!-- <span class="custom-arrow"></span> -->
    </div>
  </div>
  <button type="submit">Submit</button>
</form>

<form *ngIf="showAddRecord && record === 'shed'" (ngSubmit)="onSubmitShed()">
  <label for="shedDate">Date</label>
  <input type="date" id="shedDate" [(ngModel)]="shedDate" name="shedDate" />
  <label for="observation">Observation:</label>
  <div class="custom-select">
    <select name="observation" id="observation" [(ngModel)]="observation">
      <option value="Noticed">Noticed</option>
      <option value="Shed">Shed</option>
    </select>
  </div>
  <button type="submit">Submit</button>
</form>

<form *ngIf="showAddRecord && record === 'weight'">
  <div>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date" />
  </div>
  <div>
    <label for="weight">Weight(in grams):</label>
    <input type="number" name="weight" id="weight" />
  </div>
  <button type="submit">Submit</button>
</form>

<form *ngIf="showAddRecord && record === 'note'">
  <div>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date" />
  </div>
  <div>
    <label for="notes">Note:</label>
    <textarea name="note" id="note"></textarea>
  </div>
  <button type="submit">Submit</button>
</form>
