<div class="container">
  <div>
    <ul>
      <li *ngFor="let snake of snakes">
        <div>
          <app-snake-card
            *ngIf="snake"
            [snake]="snake"
            [id]="snake.id"
            (buttonClick)="deleteSnake($event)"
          ></app-snake-card>
        </div>
      </li>
    </ul>
  </div>
  <app-spinner></app-spinner>
  <app-button
    (buttonClick)="toggleAddSnake()"
    text="{{ showAddSnake ? 'Close' : 'Add Snake' }}"
  ></app-button>
  <app-add-snake-form (onAddSnake)="addSnake($event)"></app-add-snake-form>
  <app-weather-container></app-weather-container>
</div>
<app-spinner></app-spinner>
