/* form {
  width: 1000px;
} */

label {
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: bold;
  color: var(--dark-teal);
  font-size: 20px;
}

input {
  padding: 8px;
  width: 300px;
}

button {
  margin-top: 16px;
  padding: 8px;
  background-color: var(--dull-orange);
  border: none;
  border-radius: 4px;
  color: var(--dark-teal);
  font-weight: bold;
}

button:hover {
  background-color: var(--brite-orange);
}
