form {
  margin: 16px 0px 32px 0px;
}

legend {
  font-weight: bold;
  margin-bottom: 8px;
}

.radio-container {
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 hsla(181, 63%, 39%, 0.2);
}

.radio-input {
  display: none;
}

.radio-label {
  padding: 12px 16px;
  font-size: 14px;
  color: white;
  background-color: var(--dark-teal);
  cursor: pointer;
  transition: background 100ms;
}

.radio-label:not(:last-of-type) {
  border-right: 1px solid var(--dull-teal);
}

.radio-input:checked + .radio-label {
  background: var(--dull-teal);
}

button {
  border: none;
  background-color: var(--grey);
  font-weight: bold;
}

button:hover {
  background-color: var(--dull-teal);
}
