@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css";
:root {
  --dark-orange: hsl(21, 100%, 50%);
  --brite-orange: hsl(31, 96%, 49%);
  --dull-orange: hsl(36, 95%, 59%);
  --dull-teal: hsl(181, 63%, 39%);
  --brite-teal: hsl(181, 100%, 26%);
  --dark-teal: hsl(181, 100%, 19%);
  --grey: hsl(60, 0%, 50%);
}

* {
  box-sizing: border-box;
}
